.main-bg {
    background-color: aliceblue;
}

.color {
    color: #96cef8;
}

.image-container img{
    height: 150px;
    border-radius: 50%;
    border: 6px solid #96cef8;
    border-left: none;
    border-bottom: none;
}

.menu-link {
    color: rgb(82, 80, 80);
    font-size: 20px;
    font-weight: 500;
    padding: 0 25px;
    letter-spacing: 3px;
    text-decoration: none;
}

.menu-link:hover {
    color: #17a2b8;
    transition: all 0.3s ease;
    text-decoration: none;
}

.menu-link:last-child{
    padding: 0 0 0 25px;
}

.social-link {
    color: #17a2b8;
    font-size: 25px;
    padding: 0 10px;
    text-decoration: none;
}

.social-link:last-child{
    padding: 0 0 0 10px;
}
.social-link:hover {
    transition: all 0.3s ease;
    color: gray;
    text-decoration: none;
}

@media screen and (max-width: 992px){
    .links {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    
}

.show-links {
    height: 160px;
    transition: height 0.3s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #96cef8;

    row-gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.3s ease;
    transform: translate(-100%);
    z-index: 9999;
}

.side-link {
    color: rgb(36, 36, 36);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}

.show-sidebar{
    transform: translate(0);
}

@media screen and (min-width: 676px){
    .sidebar {
        width: 400px;
    }
    
}



